body {
    background-color: #102e20;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background: rgb(133, 165, 133);
    font-size: 2.5em;
    text-align: center;
    color: rgb(29, 71, 29);
    padding: 20px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    text-decoration: underline;
    top: 10px;
    left: 10px;
    padding: 10px;
    color: white;
}

#about {
    color: white;
}

#about img {
    width: 100%;
    max-width: 400px;
    height: auto;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 1em;
    overflow: hidden;
}

#about p {
    top: 10px;
    left: 10px;
    padding: 10px;
}

#about ul li {
    margin-left: 10px;
}

#medlem p {
    color: white;
    top: 10px;
    left: 10px;
    padding: 10px;
}

#medlem .btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    font-weight: bold;
}

.new .btn {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    font-weight: bold;
}


.menu {
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
    position: relative;
    width: 30px;
}


.dropdown-content a:hover {
    color: #007bff;
}

.menu .top,
.middle,
.bottom {
    height: 4px;
    width: 100%;
    background-color: hsl(205.71, 6.19%, 55.69%);
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu.active .top {
    transform: translateY(7px) rotate(45deg)
}

.menu.active .middle {
    opacity: 0;
}

.menu.active .bottom {
    transform: translateY(-16px) rotate(-45deg)
}

.dropdown-content {
    display: none;
    background-color: hsl(165.37deg 23.16% 34.71%);
    position: absolute;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1;
    text-align: center;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #1a4733;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
    top: 10px;
    left: 10px;
    padding: 10px;
}

@media (max-width: 960px) {
    .menu {
        display: flex;
    }

    .dropdown-content {
        position: relative;
        min-width: 100%;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    #about img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
}

/* Länkar i rad för skärmar 961px och större */
@media (min-width: 961px) {

    nav ul li a,
    header {
        font-size: 1.5rem;
    }

    .menu {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .dropdown-content {
        display: inline-block;
        /* Gör varje länk till inline-block (lägger länkarna i rad) */
        width: 100%;
        /* Navigationsmenyn tar upp hela fönstrets bredd */
        background-color: inherit;
        /* Ärver bakgrundsfärgen från body */
        box-shadow: none;
    }

    .dropdown-content a {
        color: white;
    }
}

@media (min-width: 1200px) {

    nav ul li a,
    header {
        font-size: 1.8em;
    }
}
